<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login | E-Shopper</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/animate.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/login-register.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->
</head><!--/head-->

<body>
<%- include('component/_header'); %>

<section id="login"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="login-form"><!--email form-->
          <h2>Login to your account</h2>
          <form id="email_form">
            <input id="email" class="form-control" placeholder="Email Address">
            <div class="alert alert-danger fade in error-alert" role="alert" id="email_error"></div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <form id="token_form" class="temporary-hidden">
            <div class="alert alert-success alert-dismissible fade in" role="alert">
              <i class="fa fa-info"></i> Một Email chứa mã xác nhận đã được gửi tới email của bạn. Vui lòng kiểm tra email và nhập mã xác nhận vào khung bên dưới.
            </div>
            <input id="token" class="form-control" placeholder="Mã xác nhận" maxlength="20">
            <input id="password" class="form-control" placeholder="Mật khẩu mới">
            <input id="re_password" class="form-control" placeholder="Xác nhận mật khẩu mới">
            <div class="alert alert-danger fade in error-alert" role="alert" id="token_error"></div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div><!--/email form-->
      </div>
    </div>
  </div>
</section><!--/form-->

<%- include('component/_footer'); %>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="/js/main.js"></script>

<script>
  let change_password_done = false;

  $('#email_form').submit(function(e) {
    e.preventDefault();
    let email_error = $('#email_error');
    email_error.hide(100);

    const emailRegEx = new RegExp('^(([^<>()\\[\\]\\\\.,;:\\s@"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@"]+)*)|(".+"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$')
    let email = $('#email');
    if (!emailRegEx.test(email.val()) || email.val().length === 0) {
      email.addClass('invalid');
      email_error.html(email.val().length === 0 ? 'Bạn chưa nhập email!' : 'Email chưa đúng định dạng!');
      email_error.show(200);
    } else {
      $.ajax({
        url: "/forget_password",
        method: 'post',
        dataType: 'JSON',
        data: {
          email: email.val()
        },
        success: function(result) {
          if (result.status === 'success') {
            email.prop('disabled', true);
            $('#email_form').hide(100);
            $('#token_form').show(200);
          } else {
            email_error.html("Không tìm thấy email này trên hệ thống!");
            email_error.show(200);
          }
        }
      });
    }
  })

  $('#email').keypress(function() {
    $(this).removeClass('invalid');
    $('email_error').hide(100);
  });

  $('#token_form').submit(function(e) {
    e.preventDefault();

    if (change_password_done) {
      window.location = '/';
      return;
    }
    let email = $('#email');
    let token = $('#token');
    let password = $('#password');
    let re_password = $('#re_password');
    let token_error = $('#token_error');

    if (email.val().length > 0) {
      if (token.val().length < 5 || token.val().length > 20) {
        token.addClass('invalid');
        token_error.html('Token không hợp lệ!');
        token_error.show(200);
      } else if (password.val().length < 5 || password.val().length > 50) {
        token_error.html('Mật khẩu phải dài từ 5 tới 50 ký tự!');
        token_error.show(200);
      } else if (password.val() !== re_password.val()) {
        token_error.html('Mật khẩu xác nhận không trùng khớp');
        token_error.show(200);
      } else {
        $.ajax({
          url: "/reset_password_token",
          method: 'post',
          dataType: 'JSON',
          data: {
            email: email.val(),
            token: token.val(),
            password: password.val()
          },
          success: function(result) {
            if (result.status === 'success') {
              change_password_done = true;
              token_error.removeClass('alert-danger');
              token_error.addClass('alert-success');
              token_error.html('Đổi mật khẩu thành công, bạn có thể đăng nhập ngay!');
              token_error.show(200);
            } else {
              if (result.error_field) {
                token_error.html(result.error_field === 'token' ? 'Mã xác nhận không chính xác' : 'Mật khẩu mới không hợp lệ!');
                token_error.show(200);
              } else {
                token_error.html('Lỗi không xác định!');
                token_error.show(200);
              }
            }
          }
        });
      }
    }
  });

  $('#token').keypress(function() {
    $(this).removeClass('invalid');
  });

</script>
</body>
</html>