<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login | E-Shopper</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/price-range.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/login-register.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->
</head><!--/head-->

<body>
<%- include('component/_header'); %>

<section id="login"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <% if (typeof error !== "undefined" && error) {%>
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><%= error %></strong>
        </div>
        <% } %>
        <div class="login-form"><!--login form-->
          <h2>Login to your account</h2>
          <form action="/login" method="post" id="login_form">
            <input id="email" name="email" class="form-control" placeholder="Email Address">
            <input id="password" name="password" type="password" class="form-control" placeholder="******">
            <span>
								<input type="checkbox" class="checkbox">
								Keep me signed in
							</span>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        </div><!--/login form-->
      </div>
    </div>
  </div>
</section><!--/form-->

<%- include('component/_footer'); %>

<script src="js/jquery.js"></script>
<script src="js/price-range.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
</body>
</html>