<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a href="/admin/tong-quan" class=""><i class="fa fa-dashboard"></i> Tổng quan</a></li>
        <li><a href="/admin/cau-hinh" class=""><i class="fa fa-cogs"></i> Cấu hình website</a></li>
        <li><a href="/admin/nguoi-dung" class=""><i class="fa fa-users"></i> Quản lý người dùng</a></li>
        <li><a href="/admin/quan-tri-vien" class=""><i class="fa fa-user-secret"></i> Danh sách quản trị viên</a></li>
        <li><a href="/admin/danh-muc" class=""><i class="fa fa-list"></i> Danh mục sản phẩm</a></li>
        <li><a href="/admin/san-pham" class=""><i class="fa fa-book"></i> Danh sách sản phẩm</a></li>
        <li>
          <a href="#don_hang" data-toggle="collapse" class="collapsed"><i class="fa fa-shopping-cart"></i> Quản lý đơn hàng <i class="icon-submenu lnr lnr-chevron-left"></i></a>
          <div id="don_hang" class="collapse ">
            <ul class="nav">
              <li><a href="admin/don-hang/dang-cho" class="">Đơn hàng đang chờ</a></li>
              <li><a href="admin/don-hang/da-duyet" class="">Đơn hàng đã duyệt</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>