<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav">
        <li><a href="/admin/tong-quan" class=""><i class="fa fa-dashboard"></i> Tong quan</a></li>
        <li><a href="/admin/cau-hinh" class=""><i class="fa fa-cogs"></i> Cau hinh</a></li>
        <li><a href="/admin/nguoi-dung" class=""><i class="fa fa-users"></i> Nguoi dung</a></li>
        <li><a href="/admin/quan-tri-vien" class=""><i class="fa fa-user-secret"></i> Quan tri vien</a></li>
        <li><a href="/admin/danh-muc" class=""><i class="fa fa-list"></i> Danh muc san pham</a></li>
        <li><a href="/admin/san-pham" class=""><i class="fa fa-book"></i> Danh sach san pham</a></li>
        <li>
          <a href="#don_hang" data-toggle="collapse" class="collapsed"><i class="fa fa-shopping-cart"></i> Don hang <i class="icon-submenu lnr lnr-chevron-left"></i></a>
          <div id="don_hang" class="collapse ">
            <ul class="nav">
              <li><a href="admin/don-hang/dang-cho" class="">Dong hang dang cho</a></li>
              <li><a href="admin/don-hang/da-duyet" class="">Don hang da duyet</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>