<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login | E-Shopper</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/animate.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/login-register.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->
</head><!--/head-->

<body>
<%- include('../component/_header'); %>

<section id="login"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <% if (typeof flashStatus !== "undefined" && typeof flashMessage !== "undefined") { %>
        <div class="alert alert-<%= flashStatus %> alert-dismissible fade in" id="top_alert" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <i class="fa fa-info"></i> <%= flashMessage %>
        </div>
        <% } %>
        <div class="login-form"><!--login form-->
          <h2>Login to your account</h2>
          <form action="/quen-mat-khau" method="post" id="email_form">
            <input id="email" name="email" class="form-control" placeholder="Email Address">
            <div class="alert alert-danger fade in error-alert" role="alert" id="email_error">
              <strong id="error_message"></strong>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        </div><!--/login form-->
      </div>
    </div>
  </div>
</section><!--/form-->

<%- include('../component/_footer'); %>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

<script>
  $('#email_form').submit(function(e) {
    const emailRegEx = new RegExp('^(([^<>()\\[\\]\\\\.,;:\\s@"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@"]+)*)|(".+"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$')
    let email = $('#email');
    if (!emailRegEx.test(email.val()) || email.val().length === 0) {
      e.preventDefault();
      email.addClass('invalid');
      $('#error_message').html(email.val().length === 0 ? 'bạn chưa nhập Email!' : 'Email chưa đúng định dạng!');
      $('email_error').show(200);
    }
  })

  $('#email').keypress(function() {
    $(this).removeClass('invalid');
    $('email_error').hide(100);
  });
</script>
</body>
</html>